<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181925529086-l04eoehjfaeb059ukos88pitil8hj1up.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181925529086-l04eoehjfaeb059ukos88pitil8hj1up</string>
	<key>API_KEY</key>
	<string>AIzaSyDliJ8UvtclGjM7LVI-see2Gy9xCXoKRP4</string>
	<key>GCM_SENDER_ID</key>
	<string>181925529086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vipitsfirebase</string>
	<key>PROJECT_ID</key>
	<string>vip-its-f3c1f</string>
	<key>STORAGE_BUCKET</key>
	<string>vip-its-f3c1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181925529086:ios:9d229d713397e2c9746caf</string>
</dict>
</plist>